# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log files
*.log

# debug information files
*.dwo

# Doxygen-related files
cxWidgets.tag

# Compiled binaries
testApp
keys
cxUnitTest
src/test_cxInput/test_cxInput
test_cxDate
test_cxStringUtils
test_cxValidators
test_wordwrap
test1
test_sizing

# Test artifacts
tests/*.dSYM/
tests/test_sizing
DevNotes.txt
devNotes.txt
devnotes.txt

# IDE
.idea/

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
ipch/

# Visual Studio build output (vs/ subdirectory)
vs/bin/
vs/obj/

# Demo
snake_demo
snake_demo.dSYM
flashcard_demo
flashcard_demo.dSYM
centipede_demo
centipede_demo.dSYM
examples/spreadsheet/spreadsheet
examples/spreadsheet/spreadsheet.dSYM
